<?xml version="1.0" encoding="UTF-8" ?>
<!--Part1：Bean的配置文件-->
<beans>
    <bean id = "wangcai" class = "com.minis.test.service.impl.WangCaiServiceImpl"/>

    <!--Setter注入（property标签）： 属性类型 | 属性名 | 属性值-->
    <bean id = "user" class = "com.minis.test.bean.User">
        <property type="String" name="name" value="张三"/>
        <property type="Integer" name="age" value="30"/>
    </bean>

    <!-- 构造器注入（constructor-arg标签） -->
    <bean id = "user2" class = "com.minis.test.bean.User">
        <constructor-arg type="String" name="name" value="李四"/>
        <constructor-arg type="Integer" name="age" value="40"/>
    </bean>


    <!-- 搭配使用 -->
    <bean id = "desk" class = "com.minis.test.bean.Desk">
        <constructor-arg type="String" name="color" value="实木色"></constructor-arg>
        <property type="String" name="length" value="80"></property>
        <property type="String" name="width" value="60"></property>
        <property type="String" name="height" value="120"></property>
        <!-- 引用 ref-->
        <property type="com.minis.test.bean.Stool" name="ref1" ref="stool"></property>
    </bean>

    <bean id="stool" class="com.minis.test.bean.Stool">
    </bean>
</beans>